.about {
  padding-top: 50px;
}

.about__title-wrapper {
  display: flex;
}

.about__image {
  width: 700px;
}

.about__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -210px;
  margin-top: 152px;
}

.about__subtitle {
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-default);
  margin-bottom: 10px;
}

.about__title {
  text-align: center;
  font-weight: 400;
  font-size: 200px;
  line-height: 0.9;
  color: var(--background-primary);
}
