.hero {
  position: relative;
}
.hero__wrapper {
}
.hero__title-wrapper {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 77px;
  z-index: 2;
}
.hero__title {
  display: inline;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 200px;
  line-height: 0.9;
  color: var(--background-primary);
}
.hero__description {
  display: inline-block;
  padding-left: 180px;
  font-size: 60px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-default);
}

.hero__description:last-child {
  padding-left: 340px;
}
.hero__image {
  height: auto;
  margin-left: auto;

  width: 752px;
  margin-bottom: 90px;
}

.hero__button-wrapper {
  display: flex;
  position: absolute;
  bottom: 90px;
  left: 50px;
  flex-direction: column;
}
.hero__button-image {
  width: 180px;
  margin-bottom: 10px;
}

.hero__button-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-default);
}
