.loader {
  display: flex;
  justify-content: center;
  padding-top: 50vh;
  padding-bottom: 50vh;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 0.9;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--background-primary);
}
