.menu {
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 0px;
  top: 0px;
  height: auto;
  overflow: hidden;
  background-color: var(--background-default);
  display: none;
}

.menu__author {
  font-size: 24px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-left: 50px;
  margin-top: 50px;
}
.menu__header {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.menu__button {
  position: absolute;
  top: -40px;
  right: -32px;
  border: none;
  padding: 0;
}

.menu__svg {
  width: 200px;
}
.nav {
  display: flex;
    flex-direction: column;
  margin-top: 120px;
}

.nav-list {
  counter-reset: item;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list-item {
  font-size: 100px;
  line-height: 1.1;
  text-transform: uppercase;
}

.nav-list-item::before {
  content: "0" counter(item);
  counter-increment: item;
  margin-right: 37px;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--background-primary);
}
.nav-list-item:not(:last-child) {
  margin-bottom: 40px;
}
.nav-list-link {
  color: inherit;
  text-decoration: none;
}
