.arrow {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color:  inherit;
}
.arrow__svg {
  width: 32px;
  height: 16px;
}
.arrow__text {
  font-size: 18px;
  line-height: 1.2;
  margin-right: 12px;
}