:root {
	--background-default: #eeedee;
	--background-primary: #db574d;
	--background-secondary: #000;
	--border-default: rgba(16, 16, 16, 0.1);
	--border-primary: #db574d;
	--border-secondary: #000;
	--text-default: #101010;
	--text-primary: #db574d;
	--text-muted: rgba(16, 16, 16, 0.6);
	--text-inverse: #fff;
	--icon-inverse: #fff;
}